{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static '/style.css' %}" />
<style>
  .box {
    height: 220px;
  }
  .box::before {
    height: 220px;
  }
  .box::after {
    height: 220px;
  }
  .form h2 {
    font-weight: 600;
    font-size: 10px;
  }
</style>
<script>
  setTimeout(() => {
    const wiadomosc = document.getElementById("wiadomosc");
    wiadomosc.style.display = "none";
  }, 7000);
</script>
<link rel="stylesheet" href="{% static '/star.css' %}" />
<div class="box">
  <div class="form">
    <h1><a href="{% url 'home' %}" style="text-decoration: none; color: inherit;">Mikefy</a></h1>
    
    <br />
    <h2>Password reset complete</h2>
    <h2>Your password has been set. You may go ahead and log in now.</h2>
    <div class="links">
      <a></a>
      <a href="{% url 'home' %}">Back to login</a>
    </div>
  </div>
</div>
<script src="{% static '/app3D.js' %}"></script>
{% endblock %}
